<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title 'My movie gallery' %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock stylesheets %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock javascripts %}
</head>
<body>
{% block body %}
    <main class="{% block mainClass '' %}">
        <div class="container">
            {% block navbar %}
                {{ render_esi(controller('App\\Controller\\NavbarController::main', {
                    'currentMovieSlug': app.request.attributes.get('movieSlug')
                })) }}
            {% endblock navbar %}
            {% block main %}{% endblock main %}
        </div>
    </main>
{% endblock body %}
</body>
</html>
